.products-page.container{
    width:100%;
    min-height:100vh;
    background-color:var(--bg-color);
    padding:120px 60px 20px 60px;
}

.products-page .search-container{
    width:33%;
    margin-bottom:25px;
}

.products-page .main-container{
    width:100%;
    display:flex;
    gap:15px;
}

.products-page .products-container{
    height:100%;
    width:82%;
    display: flex;
    flex-wrap:wrap;
    gap: 20px; 
    /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */
}

.categories-container{
    flex-grow:1;
}

@media(max-width:1030px){
    .products-page .search-container{
        width:45%;
    }
    .products-page .main-container{
        flex-direction:column-reverse;
        align-items:center;
        gap:15px;
    }
    .products-page .categories-container{
        width:100%;
    }
    .products-page .products-container {
        width:100%;
        justify-content:center;
    }
}

@media(max-width:840px){
    .products-page.container{
        padding:120px 15px 20px 15px;
    }
    .products-page .search-container{
        width:100%;
    }
}

@media(max-width:320px){
    .products-page .product-card{
        width:275px;
    }
}