[theme = "light"] {
    --bg-color:#FFFFFF;
    --outline-color:#999999;
    --button-color:#E4E4E7;
    --purple-color:#703BF7;
    --heading-color:#000000;
    --para-color:#4D4D4D;
    --red: #E53535;
    --card-color:#F3F3F3;
 
}

[theme = "dark"] {
    --bg-color:#141414;
    --outline-color:#262626;
    --button-color:#1A1A1A;
    --purple-color:#703BF7;
    --heading-color:#FFFFFF;
    --para-color:#999999;
    --red: #E53535;
}

*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:'Urbanist' , sans-serif;
}

html,body{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
}

h1,h2,h3{
    color:var(--heading-color);
}

p{
    color:var(--para-color);
}

/* for NavBar.jsx */

.navbar{
    background-image: url('/navbar_img.svg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
    background-color:var(--bg-color);
    color:var(--heading-color);
    border-bottom:1px solid var(--outline-color);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:11px 0;
    z-index:5;
    position:fixed;
}

.navbar h1{
    font-weight:700;
    font-size:48px;
    cursor:pointer;
}

.navbar .nav-items-container{
    display:flex;
    border:2px solid var(--outline-color);
    list-style:none;
    gap:70px;
    padding:10px 65px;
    border-radius:30px;
    background-color:var(--bg-color);
}


.navbar .nav-items-container > li{
   font-size:20px;
   cursor:pointer;
}

.navbar .buttons-container{
    display:flex;
    gap:10px;
}

.navbar .nav-buttons{
   display:flex;
   gap:15px;
}

.navbar .nav-buttons  button{
    font-size:20px;
    font-weight:600;
    border:1px solid #333333;
    display:flex;
    align-items:center;
    background-color:var(--bg-color);
    color:var(--heading-color);
    padding:7px 5px;
    gap:10px;
    border-radius:7px;
    cursor:pointer;
}

.navbar .nav-buttons  button > svg{
    height:20px;
    width:20px;
}

.nav-icons{
    display:flex;
    align-items:center;
    gap:15px;
}

.navbar .theme-selection-container{
    position:relative;
}

.navbar .icon-container{
   border:1px solid #333333;
   display:flex;
   align-items:center;
   justify-content:center;
   background-color:var(--bg-color);
   padding:4px;
   border-radius:5px;
   cursor:pointer;
}

.navbar .icon-container > svg{
    height:24px;
    width:24px;
    color:var(--heading-color);
}

.navbar #theme-icon-container > svg {
    color:var(--purple-color);
}

.navbar .drop-down{
    position: absolute;
    top: 100%;
    left: 50%;            
    transform: translateX(-50%);  
    margin-top: 15px;
    border: 0.5px solid var(--outline-color);
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:25px 20px;
    list-style:none;
    background-color:var(--bg-color);
    color:var(--heading-color);
    border-radius:12px;
}

.navbar .drop-down > li{
    font-size:24px;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer
}

.navbar #cart-icon-container{
    position:relative;
}

.navbar .counter{
    position:absolute;
    background-color:#EF4444;
    color:#ffffff;
    border-radius:50%;
    padding:2px 5px;
    font-size:10px;
    top:-4px;
    right:-6px;

}

.navbar .drop-down > li.selected{
    color:var(--purple-color);
}

.navbar .hamburger-menu{
    border:1px solid var(--outline-color);
    display:flex;
    align-items:center;
    padding:7px;
    border-radius:7px;
    color:var(--heading-color);
    background-color:var(--bg-color);
    display:none;
    z-index:3;
    position:absolute;
    top:15px;
    left:15px;
    cursor:pointer;
}

.navbar .hamburger-menu > svg{
    height:20px;
    width:20px;
}

/* for MobileMenu.jsx */

.mobile-menu{
    width:100%;
    height:100vh;
    z-index:2;
    position:fixed;
    top:0;
    left:0;
    background:var(--bg-color);
    padding:18px 50px;
}

.mobile-menu .menu-buttons{
    display:flex;
    justify-content:flex-end;
}

.mobile-menu .nav-buttons  button{
    font-size:20px;
    font-weight:600;
    border:1px solid #333333;
    display:flex;
    align-items:center;
    background-color:var(--bg-color);
    color:var(--heading-color);
    padding:7px 5px;
    gap:10px;
    border-radius:7px;
    cursor:pointer;
}

.mobile-menu .nav-buttons  button > svg{
    height:20px;
    width:20px;
}

.mobile-menu .menu-items{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    list-style:none;
    gap:40px;
    color:var(--heading-color);
    font-size:20px;
    padding:15px 0;
}

.mobile-menu .menu-items > li:hover{
    cursor:pointer;
    color:var(--para-color);
    text-decoration:underline;
}

/* for SearchField.jsx */

.search-field{
    padding:10px;
    border:1px solid var(--outline-color);
    width:100%;
    border-radius:10px;
    display:flex;
    align-items:center;
    gap:7px;
}

.search-field:focus-within{
    border:1px solid var(--purple-color);
}

.search-field > button{
    background-color:var(--purple-color);
    border:none;
    padding:1.5px;
    border-radius:8px;
    cursor:pointer;
}

.search-field > button > svg{
    color:#ffffff;
    width:25px;
    height:22px;
}

.search-field > input{
    border:none;
    outline:none;
    background-color:inherit;
    color:var(--heading-color);
    font-size:14px;
    flex-grow:1;
}

/* for ProductCard.jsx */

.product-card{
    width:288px;
    padding:28px;
    border:1px solid var(--outline-color);
    border-radius:12px;
}

.product-card .product-img-container{
    width:100%;
    height:288px;
    margin-bottom:25px;
    cursor:pointer;
}

.product-card .product-img-container > img{
    height:100%;
    width:100%;
    border-radius:12px;
}

.product-card .product-card > h2{
    font-size:20px;
    font-weight:600;
    color:var(--heading-color);
    margin-bottom:10px;
}

.product-card .desc-container {
  display: flex;
  width:80%;
}

.product-card .product-desc {
  font-size:12px;
  color:var(--para-color);
  flex: 1;                
  white-space: nowrap;    /* keep it in one line */
  overflow: hidden;       /* hide overflow text */
  text-overflow: ellipsis;/* show "..." */
}

.product-card .desc-container > span{
  font-size:12px;
  font-weight:500;
  color:var(--heading-color);
  cursor:pointer;
}

.product-card .product-category{
    font-size:12px;
    font-weight:500;
    color:var(--heading-color);
    border:1px solid var(--outline-color);
    background-color:var(--button-color);
    display:inline-block;
    padding:9px;
    border-radius:17px;
    margin:15px 0;
}

.product-card .price-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.product-card .price-header{
    font-size:12px;
    color:var(--para-color);
    margin-bottom:5px;
}

.product-card .price-value{
    color:var(--heading-color);
    font-size:18px;
    font-weight:500;
}

.product-card .price-container > button{
    background-color:var(--purple-color);
    color:#ffffff;
    padding:5px 15px;
    font-size:18px;
    border-radius:8px;
    border:none;
    cursor:pointer;
}

.product-card .price-container > button:hover{
    opacity:50%;
}

/* for CategorySelector.jsx */

.category-selector{
    width:100%;
    border:1px solid var(--outline-color);
    padding:15px 0;
    border-radius:12px;
}

.category-selector > h2{
    font-size:20px;
    color:var(--heading-color);
    font-weight:500;
    display:flex;
    align-items:center;
    gap:8px;
    margin:0 0 12px 7px;;
}

.category-selector > h2 > svg{
    color:var(--purple-color);
}

.category-selector .categories-list{
    list-style:none;
    color:var(--heading-color);
    font-size:18px;
    font-weight:400;
    display:flex;
    flex-direction:column;
    gap:11px;
}

.category-selector .categories-list > li{
    padding:7px 10px;
    cursor:pointer;
    background: linear-gradient(to right, var(--button-color),var(--bg-color));
}

.category-selector .categories-list > li.selected{
    border-left:2px solid var(--purple-color);
}

/* for FormInput.jsx  */

.form-input-container .input-div{
  width:345px;
  display:flex;
  align-items:center;
  padding:15px;
  border:1px solid var(--outline-color);
  height:56px;
  border-radius:12px;
  color:var(--heading-color);
  background-color:var(--button-color);
}

.form-input-container .input-div:focus-within{
  border: 1px solid var(--purple-color);
}

.form-input-container .input-div.error{
  border: 1px solid var(--red);
}

.form-input-container .input-div .left-icon{
  display:flex;
  align-items:center;
}

.form-input-container .input-div .left-icon > svg{
  width:18px;
  height:18px;
}

.form-input-container input{
  font-size:14px;
  font-weight:400;
  flex-grow:1;
  border:none;
  outline:none;
  padding:0 15px;
  background-color:inherit;
  color:var(--heading-color);
  
}

.form-input-container .eye-icon-container{
  position:relative;
  cursor:pointer;
}

.form-input-container .error-msg{
  color:#dc3545;
  font-size:12px;
  margin-top:5px;
  font-weight:500;
}

/* for CartItem.jsx */

.cart-item{
    border:2px solid var(--outline-color);
    background-color:var(--button-color);
    display:flex;
    gap:15px;
    align-items:center;
    padding:5px 10px;
    justify-content:space-between;
    width:368px;
}

.cart-item .product-img-container{
   height:70px;
   width:70px;
   display:flex;
   align-items:center;
   flex-shrink: 0;
}

.cart-item .product-img-container > img{
   height:100%;
   width:100%;
   border-radius:5px;
}

.cart-item .name{
    font-size:14px;
    color:var(--heading-color);
    margin-bottom:3px;
}

.cart-item .detail-sub-div{
    display:flex;
    /* gap:15px; */
    justify-content:space-between;
    align-items:flex-end;
}

.cart-item .category{
    font-size:12px;
    color:var(--para-color);
}

.cart-item .price{
    font-size:10px;
    color:var(--para-color);
}

.cart-item .price > span{
    font-size:12px;
    color:var(--heading-color);
}

.cart-item .quantity-selection-div{
    display:flex;
    gap:5px;
}

.cart-item .quantity-selection-div > span{
    flex-grow:1;
    display:flex;
    align-items:center;
    justify-content:center;
    color:var(--heading-color);
    font-size:12px;
}

.cart-item .quantity-selection-div > button{
    border: 1px solid var(--outline-color);
    background-color:var(--button-color);
    color:var(--heading-color);
    padding:0px 5px;
    font-size:12px;
    border-radius:5px;
    cursor:pointer;
}

.cart-item .quantity-selection-div > button:hover{
    opacity:50%;
}

.cart-item .delete-button{
    background-color:var(--purple-color);
    color:#ffffff;
    padding:5px 15px;
    font-size:12px;
    border-radius:8px;
    border:none;
    cursor:pointer;
}

.cart-item .delete-button:hover{
    opacity:50%
}

/* for Footer.jsx */

.footer{
    display:flex;
    justify-content:center;
    padding:30px 10px;
    font-size:14px;
    background-color:var(--bg-color);
    
}

.footer .footer-content{
    display:flex;
    gap:30px;
    flex-direction:column;

}

.footer p{
    color:var(--heading-color);
}

.footer p.heading{
    color:var(--purple-color);
    font-weight:700;
    font-size:16px;
}

.footer .main-container{
    border-top:1px solid var(--para-color);
    border-bottom:1px solid var(--para-color);
    padding:45px 0;
    display:flex;
    gap:150px;
}

.footer .main-content{
    display:flex;
    gap:45px;
}

.footer .left-div{
    display:flex;
    color:var(--heading-color);
    gap:5px;
}

.footer .div-1, .footer .div-2{
    display:flex;
    gap:45px;
}

.footer .products, .footer .resources, .footer .company, .footer .subscribe{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer .email-div{
    display:flex;
    align-items:center;
    gap:10px;
}

.footer .input-div{
   border-right:1px solid var(--para-color);
   width:100%;
   padding:10px;
}

.footer .input-div > input{
   background:inherit;
   border:none;
   outline:none;
   color:var(--heading-color);
   font-size:14px;
}

.footer .arrow-icon-div{
    cursor:pointer;
}

.footer .arrow-icon-div > svg{
    color:var(--purple-color);
}

.footer .made-by-container{
    display:flex;
    justify-content:space-between;
}

.footer .made-by-container > p svg{
    color:var(--purple-color);
    font-size:10px;
}

.footer .made-by-container  span{
    color:var(--purple-color);
}

.footer .made-by-container  span:hover{
    text-decoration:underline;
    cursor:pointer;
}

.footer .icon-container{
    background-color:#ffffff;
    height:35px;
    width:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    cursor:pointer;
}

.footer .icon-container:hover{
    opacity:50%;
}

.footer .icon-container  svg{
    height:25px;
    width:25px;
    color:#000000;
}

.footer .left-div p:hover, .footer .products p:hover, .footer .resources p:hover, .footer .company p:hover{
    color:var(--para-color);
    cursor:pointer;
}

.footer .left-div p:hover{
    text-decoration:underline;
}

.footer p.heading:hover{
    color:var(--purple-color);
    cursor:default;
}


/* for NavBar.jsx */

@media (max-width:1280px){
    .navbar .hamburger-menu{
        display:inline;
    }
    .navbar .buttons-container > .nav-buttons{
        display:none;
    }
    .navbar .nav-items-container{
        display:none;
    }
}

@media (max-width:640px){
    .navbar{
        padding:11px 20px 11px 100px;
        justify-content:space-between;
    }
}

@media (max-width:480px){
    .navbar{
        padding:22px 20px 22px 60px;
    }
    .navbar >h1{
        font-size:25px;
    }
}

/* for Footer.jsx */

@media(max-width:1165px){
    .footer .main-container{
        flex-direction:column;
        gap:35px;
    }
}

@media(max-width:885px){
    .footer .main-content{
        flex-direction:column;
        gap:45px;
    }
    .footer .div-1{
        gap:120px;
    }
    .footer .div-2{
        gap:140px;
    }
}

@media(max-width:680px){
    .footer{   
        justify-content:flex-start;
        padding:30px 20px;
        width:100%;
    }

    .footer .footer-content{
        width:100%;
    }

    .footer .div-1, .footer .div-2{
        display:inline-block;
    }

    .footer .footer-content{
        width:100%;
    }

    .footer .main-content{
        flex-direction:column;
        gap:45px;
        align-items: flex-start;
    }
    .footer .div-1{
        flex-direction:column;
        gap:30px;
    }
    .footer .div-2{
        flex-direction:column;
        gap:30px;
    }
}

/* for MobileMenu.jsx */

@media(max-width:350px){
    .mobile-menu{
        padding:50px;
    }
    .mobile-menu .nav-buttons{
        flex-direction:column;
    }
    .mobile-menu .menu-buttons{
        display:flex;
        justify-content:center;
    }

}

