.signin-page.container{
    width:100%;
    min-height:100vh;
    background-color:var(--bg-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:120px 25px;
}

.signin-page form {
    display:flex;
    flex-direction:column;
    gap:20px;
}

.signin-page h1{
    margin-bottom:20px;
}

.signin-page form button {
    background-color:var(--purple-color);
    color: #ffffff;
    padding:15px 0;
    border:none;
    cursor:pointer;
    display:inline-block;
    border-radius: 12px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
    width:100%;
}

.signin-page form  button:disabled {
    opacity:50%;
    cursor:not-allowed;
}

.signin-page .submit-button-container{
    position:relative;
    width:100%;
}

.signin-page .submit-button-container > span{
    position:absolute;
    /* z-index:2; */
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.signin-page .sign-up-div > span{
    margin-left:10px;
    font-size:15px;
    font-weight:600;
    color:var(--heading-color);
    cursor:pointer;
}

.signin-page form .error-message{
    color:var(--red);
    margin:0 auto;
    text-align:center;
}

@media(max-width:450px){
    .signin-page .form-input-container .input-div{
        width:100%;
    }
}